/*
  CSS for outsidely
  establish default body font
  adjust for mobile (small screen)
  relies on met tag to set viewport width
  <meta name="viewport" content="width=device-width" />
*/
body {
  font-size:medium;
  font-family: "sans-serif";
}


/* Media query for viewport  width less than 600px */
  @media (max-width: 600px) { 
  body {
    font-size: large;
    font-family: "sans-serif";
  }
  /*
  img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
    */
} 
   
 /* Media query for viewport width greater than 1200px */
@media (min-width: 1200px) { 
  body { 
    font-size: medium; 
    font-family: "sans-serif";
  } 
}

.logo {
  display: inline;
  max-width: 100px;
}

ul {
  list-style-type: none;
}
label {
  display:inline-block;
  width: 150px;
  vertical-align: top;
}
ul.menu li {
  display:inline;
  font-size: larger;
}
#tag {
  margin-top: 0px;
  font-style: italic;
}
h1 {
  margin-bottom: 0px;
}
label.title {
  font-weight: bold;
  font-size: larger;
}
div.activity {
  border:1px solid black;
}

.button {
  font-size:x-large;
}

img {
 width:80%
}

img.map {
  width: 50%;
  border:1px solid black;
}

div.dump {
  font-family:"monospace";
  display:none;
}

